$primaryColor: rgb(168, 54, 75);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    text-align: center;
    color:$primaryColor;
}

.container {
    width: 600px;
    height: 300px;
    position: relative;
    left:calc(50% - 300px);
    border: 1px solid whitesmoke;
    box-shadow: 2px 2px 3px whitesmoke;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.elements {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;  
    font-size: 16px; 

    &:nth-of-type(1) {
        background-color: rgb(168, 156, 247);
    }

    &:nth-of-type(2) {
        background-color: rgb(127, 189, 230);
    }

    &:nth-of-type(3) {
        background-color: rgb(84, 223, 158);
    }

    &:nth-of-type(4) {
        background-color: rgb(241, 219, 120);
    }

    &:nth-of-type(5) {
        background-color: rgb(231, 130, 105);
    }
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}

section {
    position: relative;
    height: 300px;
    width: 600px;
    margin:50px;
    border-radius: 5px;
    background-color: palegreen;
}

.moving {
    z-index: 1;
    width: 50px;
    height: 50px;
    font-size:40px;
    color:$primaryColor;
    background: none;
    position: absolute;
    top: calc(50% - 25px);
    border:none;
}

.left {
    left:25px;
}

.right {
    right:25px;
}

button:hover {
    cursor: pointer;
}

.fas {
    transition: color .3s;

    &:hover {
        color:palevioletred;
    }
}

.small-buttons {
    z-index: 1;
    position:relative;
    bottom:50px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border:1px solid $primaryColor;
    box-shadow: 1px 1px 1px $primaryColor;
    background-color: rgb(199, 87, 107);
    transition: .3s;
}

.clicked-button {
    background-color: palevioletred;
}